<template>
    <div class="page-header">
        <h2>Recent Mortgages</h2>
    </div>

    <div class="row">
        <div class="col-md-3 pull-right">
            <a class="btn btn-success btn-block" href="#/mortgage"><i class="glyphicon glyphicon-plus"></i> New Mortgage</a>
        </div>
    </div>
    

    <ul>
        <li repeat.for="mortgage of mortgages">
            <a href="#/mortgage/${ mortgage.id }">${ mortgage.name } - ${ mortgage.monthlyPaymentWithTaxesAndFees | currencyFormat }/mo.</a>
        </li>
    </ul>
</template>
